@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables.scss';
@import './mixins.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

input {
  background-color: transparent;
  border: 0;
  outline: 0;
}

li {
  list-style: none;
}

section {
  margin-top: var(--gap-section);
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 40px;

  @include media-md {
    & {
      max-width: 100%;
      padding: 0 34px;
    }
  }

  @include media-sm {
    & {
      padding: 0 20px;
    }
  }
}

#app {
  min-height: 100vh;
}
